/* Відносні стилі */
:root {
  --background-color: #2e2f42;
  --logo-color-footer: #f4f4fd;
  --logo-color-web: #4d5ae5;
  --hero-title-color: #ffffff;
  --text-color: #2e2f42;
  --text-color-main: #434455;
  --btn-color: #4d5ae5;
  --btn-active-color: #404bbf;
  --btn-active-color-text: #ffffff;
  --a-active-color: #404bbf;
  --footer-text-color: #f4f4fd;
  --portfolio-btn-color: #f4f4fd;
  --portfolio-btn-text: #4d5ae5;
  --border-btn: #e7e9fc;
  --webkit-text-fill-color: #f4f4fd;
  --customers-link-color: #8e8f99;
  --form-color-text-svg: #2e2f42;
  --form-text-color: #8e8f99;
  --modal-focus-color: #4d5ae5;
}

/* Скидання дефолтних стилів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  /* max-width: 100%;
  height: auto; */
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

ul,
ol {
  /* list-style: none; */
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
/* Скидання стилів для посиланнь і списків*/
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}
/* Приховані заголовки */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Загальний стиль*/
body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color-main);
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* .section {
  padding: 120px 0px;
} */
.container {
  padding-left: 16px;
  padding-right: 16px;
}
/*! ===============HEADER-MOBILE================ */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding-top: 24px;
  padding-bottom: 22px;
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--logo-color-web);
}
.header-logo-tex {
  color: var(--text-color);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*? ===============//HEADER-MOBILE================ */

/*! ===============MOBILE-MENU================ */
.modal-burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}
.modal-burger-icon {
  fill: #2e2f42;
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}
.container-menu-btn {
  position: relative;
  padding-top: 80px;
  padding-left: 40px;
  padding-bottom: 40px;
}
.menu-toggle {
  position: absolute;
  right: 24px;
  top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(231, 233, 252, 0.1);
  border: 1px solid rgba(46, 47, 66, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
  color: var(--a-active-color);
}
.mobile-menu {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11; /* 40/36 */
  text-transform: capitalize;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 284px;
}
.mobile-contact-link {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: #4d5ae5;
  margin-bottom: 40px;
}
.mail-contact-link {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #434455;
  margin-bottom: 48px;
}
.mobile-social-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.mobile-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--logo-color-web);
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*? ===============MOBILE-MENU================ */

/*! ===============HERO-MOBILE================ */
.hero {
  background-color: var(--background-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero/hero-mobail.jpg');
  background-repeat: no-repeat;
  background-position: center;
  max-width: 428px;
  background-size: cover;
  padding: 112px 0px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/hero-mobail@2x.jpg');
  }
}
.hero-title {
  max-width: 320px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  /* or 111% */
  text-transform: capitalize;
  color: var(--hero-title-color);
  margin: 0 auto 72px auto;
}

.hero-btn {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--btn-color);
  color: var(--btn-active-color-text);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.04em;
  min-width: 169px;
  padding: 16px 32px;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*? ===============//HERO-MOBILE================ */

/*! =================ADVANTAGES-MOBILE================= */
.advantages {
  padding-top: 96px;
  padding-bottom: 96px;
}
.advantages-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.advantages-subtitle {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.advantages-item {
  column-gap: 72px;
}
/*? ================//ADVANTAGES-MOBILE================ */

/*! ===============MOBILE================ */
@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .header-menu {
    display: none;
  }
  .header-contact {
    display: none;
  }
}
/*? ===============/MOBILE=============== */

/*! ===============TABLET================ */
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .modal-burger-btn {
    display: none;
  }
  .menu-container {
    display: none;
  }
  @media screen and(min-width: 768px), screen and (max-width: 1157px) {
    /*! =================ADVANTAGES-TABLET================= */
    .advantages {
      padding-top: 96px;
      padding-bottom: 96px;
    }
    .advantages-list {
      display: flex;
      column-gap: 24px;
      flex-wrap: wrap;
      row-gap: 72px;
      max-width: 356px;
      max-height: 312px;
      align-items: flex-start;
    }

    .advantages-subtitle {
      text-align: left;
    }
    /*? ================//ADVANTAGES-TABLET================ */
  }
  /*! ===============HEADER-TABLET================ */
  .header {
    padding: 0px;
  }
  .header-container {
    display: flex;
    align-items: center;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-logo {
    margin-right: 120px;
  }
  .header-menu {
    display: flex;
    gap: 40px;
  }
  .header-nav-link {
    color: var(--text-color);
    position: relative;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 24px 0px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .current {
    color: var(--a-active-color);
    position: relative;
  }
  .current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--a-active-color);
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /*? ==============//HEADER-TABLET=============== */

  /*! ===============HERO-TABLET================ */
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/hero-tablet.jpg');
    max-width: 768px;
    padding: 112px 0px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero/hero-tablet@2x.jpg');
    }
  }
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto 36px auto;
  }

  /*? ==============//HERO-TABLET=============== */

  /*! =================ADVANTAGES-TABLET================= */

  /*? ================//ADVANTAGES-TABLET================ */
}

@media screen and (max-width: 1158px) {
  .icons-advantages {
    display: none;
  }
}

/*? ===============/TABLET=============== */

/*! ===============DESKTOP=============== */
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0px 15px;
  }
  .header-nav-link:hover,
  .header-nav-link:focus {
    color: var(--a-active-color);
  }
  .header-contact {
    font-style: normal;
    margin-left: auto;
  }
  .header-contact-list {
    color: var(--text-color);
    display: flex;
    margin-left: auto;
    gap: 40px;
  }
  .header-contact-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-contact-link:hover,
  .header-contact-link:focus {
    color: var(--a-active-color);
  }
  /*! ===============HERO-DESKTOP================ */
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/hero-desktop.jpg');
    background-position: center;
    max-width: 1440px;
    background-size: cover;
    padding: 188px 0px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero/hero-desktop@2x.jpg');
    }
  }
  .hero-title {
    max-width: 496px;
    margin: 0 auto 48px auto;
  }
  .hero-btn:hover,
  .hero-btn:focus {
    background-color: var(--btn-active-color);
  }
  /*? ==============//HERO-DESKTOP=============== */

  /*! ==============ADVANTAGES-DESKTOP=============== */
  .advantages {
    padding-top: 120px;
    padding-bottom: 0px;
  }
  .icons-advantages {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--webkit-text-fill-color);
    border-radius: 4px;
    margin-bottom: 8px;
    width: 264px;
    height: 112px;
  }
  .advantages-svg-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    width: 264px;
    height: 112px;
  }
  .advantages-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .advantages-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--text-color);
  }
  .advantages-item {
    /* flex-basis: calc((100% - 24px * 3) / 4); */
    padding: 0px;
    gap: 8px;
  }
  /*? ==============//ADVANTAGES-DESKTOP=============== */
}
/*? ===============/DESKTOP=============== */
